github_test/src/main/mule/github_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="50ee5075-51db-4243-ad8b-24dd72094f8e" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<flow name="github_testFlow" doc:id="33fa2e8a-be05-4795-bd7b-54e3b7ad1199" >
		<http:listener doc:name="Listener" doc:id="b9ce9030-53ed-41a6-a378-30a9c535a37f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["--- move project code to repo ---"]' doc:name="Set Payload" doc:id="f62c9876-b569-4c59-a2ca-6676c979b39e" />
	</flow>
</mule>
